<!-- include header-->
<%- include('include/_header')%>
<!-- /include header-->

<!-- Main Site-->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/list-dessert"> <i class="fas fa-angle-double-left"></i> Voir les desserts</a>
            </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Ajouter un dessert</h2>
            <span class="text-light">Remplissez le formulaire suivant pour ajouter un dessert</span>
        </div>
        <!-- form handling-->
<form  method="POST" id="update_dessert">
    <div class="new_employee">
        <div class="form-group">
            <label for="picture_url" class="text-light">URL de l'apercu du dessert</label>
            <input type="hidden" name="id" value="<%= dessert._id %>">
            <input type="text" name="picture_url" value="<%= dessert.picture_url %>" placeholder="">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">Nom</label>
            
            <input type="text" name="name" value="<%= dessert.name%>" placeholder="">
        </div>
        <div class="form-group">
            <label for="price" class="text-light">Prix (en €.)</label>
            
            <input type="text" name="price" value="<%= dessert.price %>" placeholder="">
        </div>
        

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Enregistrer</button>
        </div>
    </div>
</form>
<!-- /form handling-->
    </div>
</main>
<!-- /Main Site-->

<!-- include footer-->
<%- include('include/_footer')%>
<!-- /include footer-->