<% for(var i = 0;i < starters.length; i++){ %>

    <tr>
        <td><%= i+1 %></td>
        <td><img width="100px"  src=<%= starters[i].picture_url %> ></td>
        <td><%= starters[i].name %></td>
        <td><p><%= starters[i].price %> €</p></td>
        
        <td>
            <a href="/update-starter?id=<%= starters[i]._id %>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a  class="btn border-shadow delete" data-id=<%= starters[i]._id %> >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    
        
    </tr>
    
    
    
    <% } %>