<% for(var i = 0;i < tables.length; i++){ %>

    <tr>
        <td><%= i+1 %></td>
        <td><%= tables[i].table_number %></td>
        <td><%= tables[i].table_capacity %></td>
        
        <td>
            <a href="/update-table?id=<%= tables[i]._id %>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a  class="btn border-shadow delete" data-id=<%= tables[i]._id %> >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    
        
    </tr>
    
    
    
    <% } %>